<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arnold.countrysearch">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CountrySearch"
        tools:ignore="AllowBackup">
        <activity android:name=".Activity.MoreMenu" />
        <activity android:name=".Activity.WorldWeb" />
        <activity android:name=".Activity.SearchByRegion" />
        <activity android:name=".Activity.SearchByOrganizations" />
        <activity android:name=".Activity.SearchByInitialLetter" />
        <activity android:name=".Activity.SearchByCallingCode" />
        <activity android:name=".Activity.SearchByCapital" />
        <activity android:name=".Activity.SearchByLanguage" />
        <activity android:name=".Activity.SearchByCurrency" />
        <activity android:name=".Activity.SearchByCountry" />
        <activity android:name=".Activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
    </application>

</manifest>